.n{
   list-style-type: none; 
   display: flex;
   justify-content: center;
   align-items: center;
   word-spacing: 2px;
   
}
.image{
   text-align: left;
}
.image img{
   width: 400px;
}
.caption{
   font-size: 12px;
   color: black;
}
h1{
   color: rgb(228, 39, 39);
}