body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 185, 201);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.list{
    text-align: left;
    background-color: rgb(202, 133, 179);
    padding: 80px;
    border-radius: 15px;
    box-shadow: 0 9px 9px rgba(233, 93, 93, 0.2);
} 

.list h1 {
    font-size:50px;
    color: rgb(71, 4, 71);
    text-align: center;
}

.list ul {
    list-style-type: square;
    padding: 0;
}

.list li{
    color: rgb(80, 24, 68);
    margin: 10 px 0;
}