.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery img:hover {
    opacity: 0.8;
}